$bpfca-global-font: Roboto;
$bpfca-global-font-size: 14px;

@use "app/pods/service/style.scss" as serviceRoute;
@use "app/pods/components/service-header/style.scss" as serviceHeader;
@use "app/pods/components/policy-header/style.scss" as policyHeader;
@use "app/pods/components/policy-heatmap/style.scss" as policyHeatmap;

@import "ember-bootstrap/bootstrap";

/* TODO: Probably don't want to use global selector */
* {
    font-family: $bpfca-global-font;
    font-size: $bpfca-global-font-size;
}

pre {
    font-family: $bpfca-global-font;
    font-size: $bpfca-global-font-size;
}

h4 {
    margin-bottom: 0;
}

html,
body {
    height: 100%;
    background-color: rgb(249, 249, 249);
}
