<div class="policy-heatmap">
    {{#each policyByLine as |policyLine|}}
    <div class="heatmap-line">
        <span class="heat-indicator" style={{(concat "color:#" policyLine.heatColour)}}>{{policyLine.eventCount}}</span><span
            class="policy-line">{{policyLine.content}}</span>
    </div>
    {{/each}}
</div>