<div class="policy-header">
    <div class="policy-header-summary">
        <h4>{{this.policyName}}</h4>
        <span class="policy-header-summary-counts">{{this.policySubtitle}}</span>
    </div>

    <div class="policy-header-buttons-right">
        <BsButton @type="tertiary" @size="sm">
            <FaIcon @icon="exchange-alt" @size="2x" />
        </BsButton>
    </div>
</div>