<div class="service-header">
    <BsButton @type="tertiary" @size="sm">
        <FaIcon @icon="chevron-left" @size="2x" />
    </BsButton>

    <div class="service-summary">
        foo<br>
        Events not covered by policy detected<br>
        Capture on 08/10/2021 selected<br>
        Service events last captured 08/10/2021<br>
    </div>
</div>