<div class="service-header">
    <BsButton @type="tertiary" @size="sm" @onClick={{this.backButtonClick}}>
        <FaIcon @icon="chevron-left" @size="2x" />
    </BsButton>

    <div class="service-header-summary">
        <h4>{{@model.name}}</h4>
        {{this.eventsLastCaptured}}
    </div>

    <div class="service-header-buttons-right">
        <BsButton @type="tertiary">
            <FaIcon @icon="calendar-alt" @size="3x" />
        </BsButton>

        <BsButton @type="tertiary">
            <FaIcon @icon="archive" @size="3x" />
        </BsButton>

        <BsButton @type="tertiary">
            <FaIcon @icon="pen-square" @size="3x" />
        </BsButton>
    </div>
</div>